{% extends 'back.html.twig' %}

{% block title "Rédaction d'un tutoriel" %}

{% block body %}

    <div class="d-sm-flex align-items-center justify-content-between mb-2">
        <h1 class="h3 mb-0 text-gray-200"><i class="fas fa-question-circle fa-fw text-gray-400"></i> Rédaction d'un tutoriel</h1>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('aide.tutorial.index') }}">Gestion des tutoriaux</a></li>
            <li class="breadcrumb-item active" aria-current="page">Rédaction d'un tutoriel</li>
        </ol>
    </nav>

    <hr>

    <div class="card shadow mb-4">
        <div class="card-body">
            <form action="#" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Titre</label>
                    <input id="title" name="title" type="text" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="input-content">Contenu</label>
                    <textarea id="input-content" name="content" class="form-control" rows="3"></textarea>
                </div>

                <hr>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <input id="public" name="public" type="checkbox" aria-label="Publier">&nbsp;Publier
                        </span>
                    </div>
                    <button class="btn btn-sm btn-success" type="submit">
                        <i class="far fa-save"></i>&nbsp;Enregistrer
                    </button>
                </div>

            </form>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        CKEDITOR.replace('input-content', {
            toolbar: [ ['Bold', 'Italic', 'Underline', '-', 'NumberedList', 'BulletedList', '-', 'Table', '-', 'Maximize'] ]
        });
    </script>
{% endblock %}