{% extends 'planeswalkers/simulation/game_layout.html.twig' %}

{% block title "Simulation" %}

{% block body %}

    <div class="row">
        <div class="col-xl-2">
            <div id="game_exil" data-draggable="target">
            </div>
            <hr>
            <div id="game_graveyard" data-draggable="target">
            </div>
        </div>
        <div class="col-xl-10">
            <div id="game_battlefield" data-draggable="target"></div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-xl-10">
            <div id="game_hand" data-draggable="target">
            </div>
        </div>
        <div class="col-xl-2">
            <div id="game_library" data-draggable="target">
                <div class="row">
                    {% for card in bibliotheque %}
                        <div class="col-xs-12" data-draggable="item">
                            <img class="carte img-fluid my-2" src="{{ card.thumb }}"/>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        (function() {
            if (
                !document.querySelectorAll
                ||
                !('draggable' in document.createElement('span'))
                ||
                window.opera
            ) { return; }
            for(var
                    items = document.querySelectorAll('[data-draggable="item"]'),
                    len = items.length,
                    i = 0; i < len; i ++)
            {
                items[i].setAttribute('draggable', 'true');
            }
            var item = null;
            document.addEventListener('dragstart', function(e)
            {
                item = e.target;
                e.dataTransfer.setData('text', '');

            }, false);
            document.addEventListener('dragover', function(e)
            {
                if(item)
                {
                    e.preventDefault();
                }
            }, false);
            document.addEventListener('drop', function(e)
            {
                if(e.target.getAttribute('data-draggable') == 'target')
                {
                    e.target.appendChild(item);
                    e.preventDefault();
                }

            }, false);
            document.addEventListener('dragend', function(e)
            {
                item = null;
            }, false);
        })();
    </script>
{% endblock %}