{# Layout général des mails envoyées par la plateforme #}
{% block body %}

{% endblock %}

<p>---</p>
<p>
    Ceci est un message automatique généré depuis la <a href="{{ url('app_login') }}">plateforme Iptis</a>. 
    <br>
    Merci de ne pas y répondre.
</p>

<hr>

<p>
    <img src="{{ absolute_url(asset('images/entete.jpg')) }}">
</p>
<p>
    05.55.18.23.58
    <br>15 rue de Feletz - 19100 - Brive-la-Gaillarde
    <br><a href="https://www.amediasolutions.fr">www.amediasolutions.fr</a>
</p>